@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Taxes Management Sysyem</h1>
    <ul class="home-list">
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="1">Demo 1</a> –
            <span>@DemoDescriptions.Values[0]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="2">Demo 2</a> –
            <span>@DemoDescriptions.Values[1]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="3">Demo 3</a> –
            <span>@DemoDescriptions.Values[2]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="4">Demo 4</a> –
            <span>@DemoDescriptions.Values[3]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="5">Demo 5</a> –
            <span>@DemoDescriptions.Values[4]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="6">Demo 6</a> –
            <span>@DemoDescriptions.Values[5]</span>
        </li>
        <hr/>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="7">Demo 7</a> –
            <span>@DemoDescriptions.Values[6]</span>
        </li>
        <li>
            <a asp-controller="Demo" asp-action="Index" asp-route-idx="8">Demo 8</a> –
            <span>@DemoDescriptions.Values[7]</span>
        </li>
    </ul>
</div>